/* stylelint-disable 
@import "tailwindcss/preflight";
*/
@import "tailwindcss/theme";
@import "tailwindcss/utilities";
body {
  margin: 0;
}

@theme {
 
  --font-cooper-bold: "Cooper-Bold", sans-serif;
  --font-jakarta-regular: "Jakarta-Regular";
  --font-martian-mono: "MartianMono";
  --animation-accordion: 0.2s ease-out;

  @keyframes accordion-down {
    from { height: 0; }
    to { height: var(--radix-accordion-content-height); }
  }

  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); }
    to { height: 0; }
  }
}

@layer base {
  @font-face {
  font-family: "Cooper-Bold";
  src: url("/fonts/cooperboldbt.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jakarta-Regular";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MartianMono";
  src: url("/fonts/MartianMono-Variable.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
}

@layer utilities {
  .animate-accordion-down {
    animation: accordion-down var(--animation-accordion);
  }

  .animate-accordion-up {
    animation: accordion-up var(--animation-accordion);
  }

  .font-cooper-bold {
    font-family: var(--font-cooper-bold);
  }

  .font-jakarta-regular {
    font-family: var(--font-jakarta-regular);
  }

  
}